Client_WS_SOAP_Desktop_API/Client_WS_SOAP_Desktop_API/Connected Services/ServiceReference_Financial_of_Production/WS_financial_of_production.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPartWithGreatestLoss">
        <s:complexType />
      </s:element>
      <s:element name="GetPartWithGreatestLossResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartWithGreatestLossResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalProductionCosts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalProductionCostsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalProductionCostsResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalProfit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalProfitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalProfitResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalLossByPart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalLossByPartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTotalLossByPartResult" type="tns:ArrayOfLossByPart" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLossByPart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LossByPart" nillable="true" type="tns:LossByPart" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LossByPart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PartCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalLoss" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDetailedFinancialData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="partCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailedFinancialDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDetailedFinancialDataResult" type="tns:FinancialData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FinancialData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PartCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalCost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalProfit" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalLoss" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPartWithGreatestLossSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartWithGreatestLoss" />
  </wsdl:message>
  <wsdl:message name="GetPartWithGreatestLossSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartWithGreatestLossResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalProductionCostsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalProductionCosts" />
  </wsdl:message>
  <wsdl:message name="GetTotalProductionCostsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalProductionCostsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalProfitSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalProfit" />
  </wsdl:message>
  <wsdl:message name="GetTotalProfitSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalProfitResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalLossByPartSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalLossByPart" />
  </wsdl:message>
  <wsdl:message name="GetTotalLossByPartSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalLossByPartResponse" />
  </wsdl:message>
  <wsdl:message name="GetDetailedFinancialDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetDetailedFinancialData" />
  </wsdl:message>
  <wsdl:message name="GetDetailedFinancialDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDetailedFinancialDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_financial_of_productionSoap">
    <wsdl:operation name="GetPartWithGreatestLoss">
      <wsdl:input message="tns:GetPartWithGreatestLossSoapIn" />
      <wsdl:output message="tns:GetPartWithGreatestLossSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalProductionCosts">
      <wsdl:input message="tns:GetTotalProductionCostsSoapIn" />
      <wsdl:output message="tns:GetTotalProductionCostsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalProfit">
      <wsdl:input message="tns:GetTotalProfitSoapIn" />
      <wsdl:output message="tns:GetTotalProfitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalLossByPart">
      <wsdl:input message="tns:GetTotalLossByPartSoapIn" />
      <wsdl:output message="tns:GetTotalLossByPartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailedFinancialData">
      <wsdl:input message="tns:GetDetailedFinancialDataSoapIn" />
      <wsdl:output message="tns:GetDetailedFinancialDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_financial_of_productionSoap" type="tns:WS_financial_of_productionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPartWithGreatestLoss">
      <soap:operation soapAction="http://tempuri.org/GetPartWithGreatestLoss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalProductionCosts">
      <soap:operation soapAction="http://tempuri.org/GetTotalProductionCosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalProfit">
      <soap:operation soapAction="http://tempuri.org/GetTotalProfit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalLossByPart">
      <soap:operation soapAction="http://tempuri.org/GetTotalLossByPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailedFinancialData">
      <soap:operation soapAction="http://tempuri.org/GetDetailedFinancialData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_financial_of_productionSoap12" type="tns:WS_financial_of_productionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPartWithGreatestLoss">
      <soap12:operation soapAction="http://tempuri.org/GetPartWithGreatestLoss" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalProductionCosts">
      <soap12:operation soapAction="http://tempuri.org/GetTotalProductionCosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalProfit">
      <soap12:operation soapAction="http://tempuri.org/GetTotalProfit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalLossByPart">
      <soap12:operation soapAction="http://tempuri.org/GetTotalLossByPart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailedFinancialData">
      <soap12:operation soapAction="http://tempuri.org/GetDetailedFinancialData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_financial_of_production">
    <wsdl:port name="WS_financial_of_productionSoap" binding="tns:WS_financial_of_productionSoap">
      <soap:address location="https://localhost:44353/WS_financial_of_production.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_financial_of_productionSoap12" binding="tns:WS_financial_of_productionSoap12">
      <soap12:address location="https://localhost:44353/WS_financial_of_production.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>